body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 5px;

}


::-webkit-scrollbar-track {
    background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
    background: var(--black); 
}


::-webkit-scrollbar-thumb:hover {
    background: var(--black); 
}

:root{
    --red: #FF0000;
    --black: #282828;
}

.content
{
    display: grid;
    grid-template-columns: 200px 1fr;
    
    height: 80vh;

}

.header{
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
    margin-bottom: 10px;
    background-color: #1a1a1a;
    padding: 15px;
    color: #fff;
    border-bottom: 3px groove var(--red);
    
    height: 20%;
    
}

.current-con, .next-con{
    display: grid;
    grid-template-columns: 15% 85%;
}
.header label{
    display: flex;
    justify-content: right;
    margin-right: 10px;
    align-items: center;
    
}

.header span{
    width: 100%;
    
    border: none;
    
    
    display: block;
    color: #ed069b;
    background-color: #fff;
    padding: 7px;
    border-radius: 5px;
    box-sizing: border-box;
   
  
}
.player-con{
    height: 100%;
    padding: 0 10px;
    
   
    
}
iframe{
    width: 100%;
    height: 100%;
    border: 0;
   
}
.song-list{
    height: 80vh;
}
.song-list-con
{
    height: 80vh;
    overflow-y: scroll;
    box-sizing: border-box;
    padding:0 10px;
}

.song{
    display: grid;
    grid-template-columns: 100%;
    
    color: #1a1a1a;
    padding: 10px;
    height: 30px;
    overflow: hidden;

    
}
.current-song{
    
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.current-song span{
    display: block;
    height: 100%;

}

.cancel{
    border: none;
    border-radius: 7px;
    background-color: #d62f2f;
    position: absolute;
    width: 80px;
    padding: 7px;
    color: #fff;
    
    cursor: pointer;
    opacity: 0.95;
    font-weight: bold;

}

.cancel:hover{
    background-color: var(--black);
}



